# Core functionality - changes here should be rare!
/src/app.py                   @opzc35
/src/backend/database.py      @opzc35
/src/backend/routers/auth.py  @opzc35

# The frontend will need refactored soon to be more object oriented.
/src/static/   @opzc35
